In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('startup_funding.csv')

In [ ]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [ ]:
df.isnull().sum()

Sr No                   0
Date dd/mm/yyyy         0
Startup Name            0
Industry Vertical     171
SubVertical           936
City  Location        180
Investors Name         24
InvestmentnType         4
Amount in USD         960
Remarks              2625
dtype: int64

In [ ]:
df.rename(columns={'Date dd/mm/yyyy':'Date'},inplace=True)

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

In [ ]:
df.drop('Remarks',axis=1,inplace=True)

In [ ]:
df.rename(columns={'City  Location':'Location'},inplace=True)

In [ ]:
df.columns

Index(['Sr No', 'Date', 'Startup Name', 'Industry Vertical', 'SubVertical',
       'Location', 'Investors Name', 'InvestmentnType', 'Amount in USD'],
      dtype='object')

In [ ]:
df['Industry Vertical'] = df['Industry Vertical'].fillna("Unknown")
df['SubVertical'] = df['SubVertical'].fillna("Not Specified")

In [ ]:
df['Location']=df['Location'].fillna('Unknown')

In [ ]:
df['Investors Name']=df['Investors Name'].fillna('Undisclosed')

In [ ]:
df.rename(columns={'Amount in USD':'Amount'},inplace=True)

In [ ]:
df['IsAmountDisclosed'] = df['Amount'].apply(lambda x: 0 if pd.isna(x) else 1)
df['Amount'] = df['Amount'].fillna(0)

In [ ]:
df.rename(columns={'InvestmentnType':'InvestmentType'},inplace=True)

In [ ]:
df['InvestmentType'] = df['InvestmentType'].fillna("Unknown")

In [ ]:
df['Amount']=df['Amount'].str.replace(',','')

In [ ]:
df['Amount'] = df['Amount'].astype(str).str.replace('undisclosed', '0', regex=False)
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce').fillna(0).astype(int)

In [ ]:
df['Industry Vertical'].value_counts()

Industry Vertical
Consumer Internet                   941
Technology                          478
eCommerce                           186
Unknown                             171
Healthcare                           70
                                   ...
Beauty & Wellness Mobile App          1
Material Collection & Recycling       1
Online Pharmacy & Drug DB             1
Online / Mobile Customer Support      1
Online Classifieds & Listings         1
Name: count, Length: 822, dtype: int64

In [ ]:
a=df.groupby('Industry Vertical')['Amount'].sum()
a.sort_values(ascending=False)

Industry Vertical
Consumer Internet                     6253084245
eCommerce                             5002533000
Transportation                        3916632394
Technology                            2229707930
Finance                               1971438000
                                         ...
Preventive healthcare services                 0
Cloud Based Hotel Sales Platform               0
Cloud Enterprise Mobility Platform             0
Clud based Learning platform                   0
Online Printing Services                       0
Name: Amount, Length: 822, dtype: int64

In [ ]:
b=df.groupby('Location')['Amount'].sum()
b.sort_values(ascending=False)

Location
Bangalore              11361588108
Bengaluru               7098578755
Mumbai                  4921185015
New Delhi               3017816875
Gurgaon                 3005296134
                          ...
\\xc2\\xa0Bangalore              0
\\xc2\\xa0Gurgaon                0
\\xc2\\xa0Mumbai                 0
\\xc2\\xa0New Delhi              0
\\xc2\\xa0Noida                  0
Name: Amount, Length: 113, dtype: int64

In [ ]:
df.replace('Bengaluru','Bangalore',inplace=True)

In [ ]:
df.replace('US','USA',inplace=True)

In [ ]:
df.describe()

,Sr No,Date,Amount,IsAmountDisclosed
count,3044.000000,3036,3.044000e+03,3044.000000
mean,1522.500000,2016-09-23 03:38:39.367588864,1.250254e+07,0.684625
min,1.000000,2015-01-02 00:00:00,0.000000e+00,0.000000
25%,761.750000,2015-11-04 00:00:00,0.000000e+00,0.000000
50%,1522.500000,2016-07-15 00:00:00,5.000000e+05,1.000000
75%,2283.250000,2017-06-12 06:00:00,4.000000e+06,1.000000
max,3044.000000,2020-01-13 00:00:00,3.900000e+09,1.000000
std,878.871435,NaN,1.003304e+08,0.464741

In [ ]:
df['Startup Name'].nunique()

2459

In [ ]:
df['Investors Name'].nunique()

2412

In [ ]:
df['Amount'].sum()

np.int64(38057737863)

In [ ]:
c=df.groupby(df['Date'].dt.year)['Amount'].sum()
c

Date
2015.0     8597207368
2016.0     3828088608
2017.0    10429309730
2018.0     5116118369
2019.0     9686576534
2020.0      390207254
Name: Amount, dtype: int64

In [ ]:
d=df.groupby('Location')['Amount'].sum()
d

Location
Agra                           0
Ahemadabad               6344811
Ahemdabad                      0
Ahmedabad              113636000
Amritsar                  300000
                         ...
\\xc2\\xa0Bangalore            0
\\xc2\\xa0Gurgaon              0
\\xc2\\xa0Mumbai               0
\\xc2\\xa0New Delhi            0
\\xc2\\xa0Noida                0
Name: Amount, Length: 111, dtype: int64

In [ ]:
df.replace('Seed\\nFunding','Seed Funding',inplace=True)

In [ ]:
df['InvestmentType'].value_counts()

InvestmentType
Private Equity                 1356
Seed Funding                   1355
Seed/ Angel Funding              60
Seed / Angel Funding             47
Seed\\nFunding                   30
Debt Funding                     25
Series A                         24
Seed/Angel Funding               23
Series B                         20
Series C                         14
Series D                         12
Angel / Seed Funding              8
Seed Round                        7
Seed                              4
Unknown                           4
Private Equity Round              4
Pre-Series A                      4
Seed / Angle Funding              3
Equity                            2
Series E                          2
Corporate Round                   2
Venture Round                     2
Series F                          2
pre-Series A                      2
Seed Funding Round                1
Single Venture                    1
Maiden Round                      1
pre-series A                      1
Funding Round                     1
Series G                          1
Venture                           1
Series H                          1
Pre-series A                      1
Debt and Preference capital       1
Debt                              1
Bridge Round                      1
Angel Round                       1
Venture - Series Unknown          1
Series J                          1
Angel                             1
Series B (Extension)              1
Mezzanine                         1
Debt-Funding                      1
Pre Series A                      1
Inhouse Funding                   1
Equity Based Funding              1
Seed funding                      1
Private Funding                   1
Private                           1
Structured Debt                   1
PrivateEquity                     1
Term Loan                         1
Angel Funding                     1
Private\\nEquity                  1
Crowd funding                     1
Crowd Funding                     1
Name: count, dtype: int64

In [ ]:
e=df.groupby('Startup Name')['Amount'].sum()
e.sort_values(ascending=False)

Startup Name
Flipkart            4059700000
Rapido Bike Taxi    3900000000
Paytm               3148950000
Ola                  984500000
Udaan                870000000
                       ...
HealthSutra                  0
Healthbuds                   0
Housing                      0
Houssup                      0
IGP.com                      0
Name: Amount, Length: 2459, dtype: int64

In [ ]:
df.to_csv('Funding_data.csv')